/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 22, 2019, 4:27:13 AM
    Author     : Richard
*/

.button{
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-background-image: url("../images/ship/battleship.png");
    -fx-background-repeat:no-repeat;
    -fx-background-size: 100%;
    -fx-max-width: infinity;
    -fx-max-height: infinity;
}

