.button{
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-background-image: url("../../../assets/grid/bottomSector.png");
    -fx-background-repeat:no-repeat;
    -fx-background-size: 100%;
    -fx-max-width: infinity;
    -fx-max-height: infinity;
}
