.button {
    -fx-background-color: transparent;
    -fx-background-repeat:no-repeat;
    -fx-background-size: 100% 100%;
}
#battleship1 {
    -fx-background-image: url("../images/ship/battleship1.png");
}
#battleship2 {
    -fx-background-image: url("../images/ship/battleship2.png");
}
#battleship3 {
    -fx-background-image: url("../images/ship/battleship3.png");
}
#battleship4 {
    -fx-background-image: url("../images/ship/battleship4.png");
}
#carrier1 {
    -fx-background-image: url("../images/ship/carrier1.png");
}
#carrier2 {
    -fx-background-image: url("../images/ship/carrier2.png");
}
#carrier3 {
    -fx-background-image: url("../images/ship/carrier3.png");
}
#carrier4 {
    -fx-background-image: url("../images/ship/carrier4.png");
}
#carrier5 {
    -fx-background-image: url("../images/ship/carrier5.png");
}
#destroyer1 {
    -fx-background-image: url("../images/ship/destroyer1.png");
    -fx-background-size: 100% 50%;
    -fx-background-position: right;
}
#destroyer2 {
    -fx-background-image: url("../images/ship/destroyer2.png");
    -fx-background-size: 100% 50%;
    -fx-background-position: left;
}
#grid {
-fx-background-image: url("../images/grid/bottomSector.png");
}
#submarine1 {
    -fx-background-image: url("../images/ship/submarine1.png");
}
#submarine2 {
    -fx-background-image: url("../images/ship/submarine2.png");
}
#submarine3 {
    -fx-background-image: url("../images/ship/submarine3.png");
}
